.boxq{
    @extend %box;
    width: 50%;
    margin-top: 11.5%;
    margin-bottom: 11.5%;
    border: 3px solid black;
    box-shadow: 2px 2px 2px 2px black;
    /* Encadré pour voir les limites du formulaire */
    z-index: 3;
    justify-content: center;
}

.question{    
    width: 100%;    
    color: white;
}

.question label{
    display: inline-block;
    width: 105px;
    text-align: center;
}

td{
    display: block;
}


.quest input{
    width: 400px;
    text-align: center;
  }

.q{
    margin-bottom: 10px;
}

.q input{
    text-align: center;
}

.r{
    margin-top: 10px;
    margin-bottom: 10px; 
}

.r1{    
    float: left;
}

.r1 input{
     @extend %reponse;
}

.r2 input{
    @extend %reponse;
}

.r3{
    float: left;
}

.r3 input{
    @extend %reponse;
}

.r4 input{
    @extend %reponse;
}

.answer{
    margin-left: -50px;
    margin-top: 20px;
}

.points{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -70px;  
}

.points input{
    text-align: center;
    width: 50px;
}

.correct{
    width: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
